@include('navbar/nav')

<link href="css/erp/erp.css" rel="stylesheet" />




<div class="notFound">
  <img src="img/404/404.gif" alt="Pagina nao Encontrada">

  <p>Página nao encontrada ! </p>
  <a href="#" onclick="window.history.back()"><span class="material-icons">keyboard_arrow_left
    </span> Voltar </a>

</div>





<script src="./js/erp/erp.js"></script>
<link href="css/notFound/notFound.css" rel="stylesheet" />
