<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MOR INFO</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/principal.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="shortcut icon" href="img/logo.ico">

</head>

<body>

  <!-- Parte menu   -->

  <div class="navbar-fixed">

    <nav class="white " role="navigation">
      <div class="nav-wrapper container navbar-fixed">
        <a id="logo-container" href="#" class="brand-logo"><img src="img/logo.png" alt="MOR INFO"></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="logo" href="http://morinfo.mysuite1.com.br/central.php" target="_blank"><i
                class="material-icons left">group</i>Central do Cliente</a></li>
          <li><a href="#"></a></li>
        </ul>




        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons ">menu</i></a>
    </nav>


  </div>
  <ul id="slide-out" class="sidenav">
      <li><div class="user-view">
        <div class="background">
          <img src="img/fundo-menu.jpg">
        </div>
        <a><span class="white-text name">Menu</span></a>
        <a class="white-text" href="mailto:suporte@morinfo.com.br"><span class="white-text email">Email do Suporte</span></a>
      </div></li>
      <li><a href="http://morinfo.mysuite1.com.br/central.php" target="_blank"><i class="material-icons">group</i>Central do Cliente</a></li>
      <!--<li><a href="#!"></a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader"></a></li>
      -->
    </ul>
  <!--Fim Menu   -->
  


  <div id="index-banner" class="parallax-container ">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-darken-4 ">Agilidade e Segurança</h1>
        <h4 class="header center white-text text-darken-4 ">Soluções em processamento de dados e softwares altamente
          customizáveis</h4>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <!--<a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--  Um pouco da empresa   -->


      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons ">timeline</i></h2>
            <h5 class="center">Elevação do Knowledge através da customização e alta adaptabilidade.</h5>

            <p class="light">Alta interatividade com usuário x interface. Relatórios precisos para tomadas de decisões
              concretas e inteligentes. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Mais de 20 anos de experiência no Mercado.</h5> <br>

            <h8 class="light">
              Apoio à tomada de decisões.
              Relatórios completos e precisos para tomadas de decisões concretas e concisas.

            </h8>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Vantagem competitiva através da alta capacidade de automação.</h5>

            <p class="light">
              Sustentabilidade e alimentação de dados.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light white-text">Sistema capaz de se adaptar em diversas necessidades ! </h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Sobre a MOR</h4>
          <p class="left-align light">
            Somos uma empresa especializada no desenvolvimento de soluções em softwares, feitos através de uma analise
            especializada, criando projetos customizáveis de acordo com a necessidade pontual de cada cliente.
            Atuamos no mercado desde 1992, com sede na cidade de Diadema – SP, região conhecida por ser um importante
            polo industrial em franco desenvolvimento.
            Contamos com uma equipe de profissionais capacitados para desenvolver projetos que atendam empresas de
            diferentes portes e ramos.
          </p>
        </div>
      </div>




      <!--  sessao dos servicos   -->

      <div class="row">
        <div class="col s14 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="img/erp.png" alt=""></h2>
            <p class="center">Comercial, Faturamento, Financeiro
              , Escrita Fiscal, Folha de Pagamento, Contabilidade,
              Apontamento de Produção,
              Controle de Produção, Suporte a Decisão.
            </p>


          </div>
        </div>

        <div class="col s14 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="img/temp.png" alt=""></h2>
            <param class="center">Tratamento Térmico, Forno, Chão de Fabrica,
            Recebimento, Produção, Qualidade, Faturamento, Relatórios.
            </p>
          </div>
        </div>

        <div class="col s14 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="img/bi.png" alt=""></h2>
            <p class="center">
              Soluções avançadas e Personalizáveis.
            </p>


          </div>
        </div>
      </div>

    </div>




  </div>


  <div class="container ">
    <div class="col s12 center">
      <h4 class="dark-text">Localização</h4>
    </div>

    <div class="col s12 m6 14">
      <div class="mapa transparent">
        <iframe class="iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.671237093635!2d-46.614498085019875!3d-23.687712284620353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448cae0aed29%3A0x10c2bcd9911aeb7c!2sR.+Dezenove+de+Novembro%2C+52+-+Centro%2C+Diadema+-+SP%2C+09912-140!5e0!3m2!1spt-BR!2sbr!4v1561499412264!5m2!1spt-BR!2sbr"
          width="1000" height="400" frameborder="0" style="border:0" allowfullscreen></iframe></div>

    </div>

  </div>

  </div>

  </div>






  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">Fale Conosco</h5>
          <p class="grey-text text-lighten-4">

          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contatos :</h5>
          <ul>
            <li>(11) 4044-1008</li>
            <li>(11) 4056-8491</li>
            <li>(11) 2375-3470</li>
            <li>(11) 2375-3471</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Emails :</h5>
          <ul>
            <li><a class="white-text" href="mailto:suporte@morinfo.com.br">Suporte</a></li>
            <li><a class="white-text" href="mailto:morinfo@morinfo.com.br">Comercial</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container ">
        Copyright <a class="blue-text " href="http://morinfo.com.br">MOR INFO</a>
      </div>
    </div>
  </footer>










  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
    (function (w, d, u) {
      var s = d.createElement('script');
      s.async = true;
      s.src = u + '?' + (Date.now() / 60000 | 0);
      var h = d.getElementsByTagName('script')[0];
      h.parentNode.insertBefore(s, h);
    })(window, document, 'https://cdn.bitrix24.com.br/b10684121/crm/site_button/loader_2_yhmc66.js');
  </script>


</body>

</html>